.navbar{
    position: relative;
    background: #040404;
    font-size: 1.2rem;
    height: 85px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    color: white;
}
.navbar > div {
    gap:15px;
}

.logo-container{
    display: none;
    width: 80px;
    height: 60px;
    margin: 5px;
}
.logo-container a{
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0;
}
.logo-container img{
    width: 80px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav-welcome{
    position: relative;
    cursor: pointer;
}

.nav-user-overlay{
    background-color: black;
    color: white;
    position: absolute;
    top: 28px;
    right: 4px;
    width: 170px;
    text-align: center;
    overflow: hidden;
    transition: all .3s ease;
}
.nav-user-overlay p{
    margin: 0;
}
.nav-user-overlay p:hover{
    opacity: .9;
    background: red;
}

.nav-user-overlay p > *{
    height: 50px;
    width: 100%;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-drop{
    margin-left: 4px;
    font-size: 2rem
}

@media(min-width: 769px){
    .logo-container{
        display: block;
    }
}